[Desktop Entry]
Type=Application
Name=Tooran
GenericName=Task Organizer
Comment=A simple, quiet task organizer
Exec=tooran
Icon=io.github.jirugutema.tooran
Terminal=false
Categories=Office;Utility;ProjectManagement;
StartupWMClass=io.github.jirugutema.tooran
Keywords=tasks;todo;list;productivity;
